a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
}

.top-row {
	margin-top: 35px;
	padding-right: 30px;
}

#title {
	font-size: 35px;
}

#create-post {
	text-decoration: underline;
}

.content {
	margin-top: 20px;
}

#tag-input {
	width: 70%;
}

#smaller-text {
	font-size: 20px;
}

.fluid-container {
	padding-left: 30px;
	padding-right: 30px;
}